<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Spotify OAuth2.0 Suite" verbose="1" >
    <test name="Playlists API" >
        <classes>
            <class name="com.itkhan.framework.spotify.tests.PlaylistTests" />
        </classes>
    </test>
</suite>
